/* Overlay background */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Vertically center the modal */
    z-index: 1000;
    /* Make sure it's on top of other content */
    opacity: 0;
    /* Initially hidden */
    visibility: hidden;
    /* Prevents clicks when not visible */
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    /* Fade-in transition */
}

/* Show the popup */
.popup-overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
    /* Fade-in effect */
}

/* Popup modal content */
.popup-content {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    /* Ensure it's responsive */
    max-width: 500px;
    /* Limit the max width */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    position: relative;
    /* To position the close button */
    animation: modal-in 0.3s ease-out;
}

.popup-content h2 {
    color: black;
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
}

.close-button:hover {
    color: blue;
    /* Change color on hover */
}

/* Form styling */
.form-group-csm {
    margin-bottom: 15px;
    color: black !important;
}

.form-group-csm input::placeholder {
    color: black !important;
}

#message {
    color: black !important;
}

.form-group-csm input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: black !important;
}

textarea {
    resize: vertical;
    /* Allow vertical resizing */
}

/* Animation for modal */
@keyframes modal-in {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}